<%# added empty div to create a space above the container %>

<div style="height: 120px;" ></div>

<div class="container-fluid mt-md-0 mt-5 mb-5">
  <%# Grid row %>
  <div class="row" style="margin-top: -75px;">
    
    <%# Grid column %>
    <div class="col-md-12 px-lg-5">
      <%# Card %>
      <div class="card pb-5 mx-md-3">
        <div class="card-body">
          
          <div class="container">
            
            <%# Section heading %>
            <%- include('./partials/message.ejs') %>
            <h1 class="text-center h1 pt-4 mb-3">
                <strong>About MSSN Akinyele</strong>
              </h1>

              <%# Grid row %>
              <div class="row pt-lg-5 pt-3">

                <%# Grid column %>
                <div class="col-md-4 mb-3">
                  <img src="/img/akinyele2.jpeg" class="img-fluid z-depth-1">
                </div>
                <%# Grid column %>

                <%# Grid column %>
                <div class="col-md-7 ml-xl-5">
                    <%# Grid row %>
                    <div class="row">

                      <p class="dark-grey-text article"><b>
                        Muslim Students’ Society of Nigeria, Akinyele Area
                           Council     
                       </b> is one of the Area Councils under the MSSN
                           Oyo State Area Unit. Her bounds extend throughout
                           Akinyele Local Government and some parts of Ibadan
                           North Local Government. With a secretariat of
                           operation at 12, Ifelodun Street, Orogun, Ibadan, her
                           major assignment is to see to the upbringing of
                           Muslim students of secondary schools in the realms of
                           academic, moral and most importantly, religion. This
                           in one word is termed Coordination. <br>
                           </p>

                      <blockquote class="blockquote">
                        <p class="mb-0">
                            And who is better in speech than one who invites to Allah and does righteousness and says, "Indeed, I am of the Muslims."</p>
                        <footer class="blockquote-footer">Verse 33,
                          <cite title="Source Title">Surah Fussilat</cite>
                        </footer>
                      </blockquote>

                      <p class="dark-grey-text article">  The council as a stratum under the State Area
                        Unit, has under it more than forty-five secondary
                        schools extending from Samonda through Moniya
                        to Ijaiye and Pade axes of Oyo state. Also under it
                        are higher institution branches such as University
                        of Ibadan, Federal School of Stastistics, Colleges of
                        Aviation and Management Studies, Highland
                        College of Technology, Samonda, and a Central
                        Branch located at Abere Central Mosque, Agbowo.</p>

                    </div>
          

                    <%# Grid row %>
                    <div class="row mb-2 mt-2">

                      <li class="dark-grey-text article list-unstyled">
                        <strong>This Council has 4 Higher Institutions Branches:</strong>
                        <ul>
                          <li>   
                            University of Ibadan</li>
                          <li>Federal School of Statistics</li>
                          <li>Kola Daisi University</li>
                          <li>Highland College of Technology</li>
                        </ul>
                        a Central Branch (Agbowo Central Branch),
 and over 70 Secondary School Branches.
                      </li>

                    </div> 
                   <%# Grid row %>
                    <%# Grid row %>
                    <div class="row mb-2 mt-2">
                        <li class="dark-grey-text article list-unstyled">
                        <strong> The Council categorised her axis into 4 for easy and smooth coordination. They are:</strong>
                        <ul>
                          <li>UI/Agbowo Jurisdiction</li>
                          <li>Ojoo Jurisdiction</li>
                          <li>Moniya Jurisdiction</li>
                          <li>Distant Schools' Jurisdiction.</li>
                        </ul>
                      </li>

                    </div> 
                   <%# Grid row %>
                    <%# Grid column %>
                  </div>
                <%# Grid Column %>

              </div>

            </div>

          </div>
          <%# Card %>
        </div>
        <%# Grid column %>

      </div>
      <%# Grid row %>
    </div>

  </div>
  <%- contentFor('title') %> 
  About | MSSN