<style>
    body{background:#4F8068;}
</style>

      <div class="panel deep-purple" style="height: 40px;"></div>
      
          <div class="container-fluid" > 
              <div class="row">
                  <div class="col-md-7 m-x-auto pull-xs-none">
                      <div class="jumbotron">
                          <h2 class="h2-responsive text-center "><strong>Sign up </strong></h2>
                          <%- include('./partials/message.ejs') %>
                        
                          <!-- <hr class="m-y-2"> -->
  
                          <!--Naked Form-->
                          <div class="card-block">
  
                              <!--Body-->
                              <form action="/signup" method="POST">
  
                                 
  
                                 
                                  <div class="md-form">
                                      <i class="fa fa-users prefix"></i>
                                      <input type="text" name="name" id="form2" class="form-control" value="<%= typeof name != 'undefined' ? name : '' %>">
                                      <label for="form2">Name</label>
                                  </div>
                                 
                                  <div class="md-form">
                                      <i class="fa fa-user prefix"></i>
                                      <input type="text" name="username" id="form2" class="form-control" value="<%= typeof username != 'undefined' ? username : '' %>">
                                      <label for="form2">Username</label>
                                  </div>
  
                                  <!--Email validation-->
                                
                                  <div class="md-form">
                                      <i class="fa fa-envelope prefix"></i>
                                      <input type="email" name="email" id="form9" class="form-control validate" value="<%= typeof email != 'undefined' ? email : '' %>">
                                      <label for="form9" data-error="wrong" data-success="right">Your email</label>
                                  </div>

                                  <!-- Password -->
                                  <div class="md-form">
                                      <i class="fa fa-lock prefix"></i>
                                      <input type="password" name="password" id="form9" class="form-control validate" >
                                      <label for="password" >Password</label>
                                  </div>

                                  <!-- password 2 -->
                                  <div class="md-form">
                                      <i class="fa fa-lock prefix"></i>
                                      <input type="password" name="confirm" id="form9" class="form-control validate">
                                      <label for="password" >Confirm password</label>
                                  </div>

                                  <!-- Gender -->
                                  <div class="md-form">
                                      <i class="fa fa-transgender prefix"></i>
                                  
                                      <select class="custom-select form-control ml-5" id="inputGroupSelect01" name="gender" style="width: 90%;">
                                        <option  disabled selected>Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                     
                                  </div>

                                  <!-- Usertype -->
                                  <div class="md-form" hidden>
                                      <i class="fa fa-users-cog prefix"></i>
                                      <select class="custom-select form-control ml-5 " id="inputGroupSelect01" name="userType" style="width: 90%;">
                                       
                                        <option value="admin" selected>Admin</option>
                                        
                                    </select>
                                  </div>
  
                              
  
                               
  
                                  <div class="text-xs-left">
                                      <button class="btn btn-primary">Submit</button>
                                  </div>
                              </form>
  
                              <div class="m-y-2">
                                  <p class="small-text small-thin-text" style="font-weight:300"></p>
                              </div>
  
                          </div>
                          <!--Naked Form-->
  
                      </div>
                  </div>
              </div>
              
          </div>
  
  
  