
<%#   added empty div to create a space above the container %>
  <div class="container">
    <section id="faq" class="pt-1">

      <%#   Section heading %>
      <h3 class="text-center my-5 pt-3 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
        <strong>OUR ACTIVITIES</strong>
      </h3>
      <%- include('./partials/message.ejs') %>
      <%#   Section description %>
      
      <p class="text-center w-responsive my-5 grey-text"></p>
      
      <div class="col-md-7 col-lg-12 col-sm-12 mx-auto ml-xl-5">
        <div class="jumbotron row mb-2 mt-2">

          <li class="dark-grey-text article list-unstyled">
            <strong>The Muslim Students' Society of Nigeria, Akinyele Area Council holds several spiritual, academic, moral, skill empowering programmes. They include:</strong>
            <ul>
            <li>Conference of Secondary School Muslim Students. (COSSMUS).</li>
              <li>Tutorials (Extramural)</li>
              <li>Annual Educational Conference</li>
              <li>Career Counselling Programme</li>
              <li>Weekly Coordination</li>
              <li>Sisters' Seminar.</li>
              <li>Rural and Market Da'wah amongst others.</li>
              <li>Suppport for indigent students. </li>
            </ul>
          </li>
</div>
</div>

      <%#   Grid row %>
      <div class="row gradient-background d-flex justify-content-center">

        <%#   Grid column %>
        <div class="col-md-10 col-xl-10 pb-5 pt-3">

          <%#  Accordion wrapper%>
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

            <%#   Accordion card %>
            <div class="card border-0">

              <%#   Card header %>
              <div class="card-header white z-depth-1 border-0 mb-1" role="tab" id="heading1">
                <a  data-toggle="collapse" data-parent="#accordionEx" href="#collapse1" aria-expanded="true"
                  aria-controls="collapse1">
                  <h5 class="mb-0 dark-grey-text">
                    SECONDARY SCHOOL COORDINATION
                    <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>

              <%#   Card body %>
              <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1" data-parent="#accordionEx">
                <div class="card-body mb-1 rgba-green-strong white-text">
                  <p>This is the major assignment of the Council. Over forty-five secondary
                    schools are being coordinated weekly or on fortnightly basis. Mainly,
                    coordination is to teach and share with the students the doctrines of the
                    religion, bridge the gap between our secondary schools and tertiary
                    institutions (to promote their influx into higher institutions of learning)
                    and ensure ways of attaining excellence in their academic pursuits. <br>
                    <strong>The
                      forty-five schools have been divided into four jurisdictions for ease in
                      accessibility and mobilization viz; </strong>
                      <%#   CORD LIST %>
                      <div class="col-md-12 col-xl-12">

                        <%#  Accordion wrapper%>
                        <div class="accordion md-accordion accordion-5" id="accordionEx5" role="tablist" aria-multiselectable="true">
      
                          <%#   Accordion card %>
                          <div class="card mb-4">
      
                            <%#   Card header %>
                            <div class="card-header white p-0 z-depth-1" role="tab" id="heading30">
                              <a data-toggle="collapse" href="#collapse30" aria-expanded="false" aria-controls="collapse30" class="collapsed">
                                <h5 class="pl-2 green-text mb-0 py-3 mt-1">
                                  UI/Agbowo Jurisdiction (9 Schools)
                                </h5>
                              </a>
                            </div>
      
                            <%#   Card body %>
                            <div id="collapse30" class="collapse" role="tabpanel" aria-labelledby="heading30" data-parent="#accordionEx5">
                              <div class="card-body mb-1 rgba-black-strong white-text">
                                <p class="p-md-4 mb-0"> <li class="white-text article list-unstyled">
                                  <ul>
                                    <li>Abadina college, UI</li>
                                    <li>Abadina Grammar school UI</li>
                                    <li>Adedamola College Orogun</li>
                                    <li>Ajibode Grammar school</li>
                                    <li>Imam Zubair Model College, Barika</li>
                                    <li>Immanuel College, UI</li>
                                    <li>The International School, UI</li>
                                    <li>Orogun Grammar School, Orogun</li>
                                    <li>Yinbol College</li>
                                  </ul>
                                </li>
            </p>
                              </div>
                            </div>
                          </div>
                          <%#   Accordion card %>
      
                          <%#   Accordion card %>
                          <div class="card mb-4">
      
                            <%#   Card header %>
                            <div class="card-header white p-0 z-depth-1" role="tab" id="heading31">
                              <a data-toggle="collapse" href="#collapse31" aria-expanded="true" aria-controls="collapse31">
                                <h5 class="pl-2  green-text mb-0 py-3 mt-1">
                                  Ojoo Jurisdiction (7 Schools)
                                </h5>
                              </a>
                            </div>
      
                            <%#   Card body %>
                            <div id="collapse31" class="collapse" role="tabpanel" aria-labelledby="heading31" data-parent="#accordionEx5">
                              <div class="card-body rgba-black-strong white-text z-depth-1">
                                <p class="p-md-4 mb-0"> <li class="white-text article list-unstyled">
                                  <ul>
                                    <li>  Command Day Secondary Sch, Odogbo</li>
                                    <li>Army Day Secondary Sch, Odogbo</li>
                                    <li>Nickdel College, Akobo</li>
                                    <li>Community Grammar School, Shasha</li>
                                    <li>Posit College, Arulogun</li>
                                    <li>Ojoo High School, Arulogun</li>
                                    <li>Kajorepo Grammar School</li>
                                  </ul>
                                </li>
            </p>
                              </div>
                            </div>
                          </div>
                          <%#   Accordion card %>
      
                          <%#   Accordion card %>
                          <div class="card mb-4">
      
                            <%#   Card header %>
                            <div class="card-header white p-0 z-depth-1" role="tab" id="heading32">
                              <a data-toggle="collapse" href="#collapse32" aria-expanded="true" aria-controls="collapse32">
                                <h5 class="pl-2  green-text mb-0 py-3 mt-1">
                                  Moniya Jurisdiction (13 Schools)
                                </h5>
                              </a>
                            </div>
      
                            <%#   Card body %>
                            <div id="collapse32" class="collapse" role="tabpanel" aria-labelledby="heading32" data-parent="#accordionEx5">
                              <div class="card-body rgba-black-strong white-text z-depth-1">
                                <p class="p-md-4 mb-0"> <li class="white-text article list-unstyled">
                                  <ul>
                                    <li>Amao Model College  </li>
                                    <li>Aponmode Community High School</li>
                                    <li>Akingbile Oluana Comm. Grammar School </li>
                                    <li>Community High School Iyana Idi-Ose </li>
                                    <li>Daarus-Salam College</li>
                                    <li>Great Diplomat College </li>
                                    <li>Holy Mountain College</li>
                                    <li>Isheglos College</li>
                                    <li>Jumah Comprehensive. College</li>
                                    <li>Mambomac College </li>
                                    <li>Muslim Community Academy</li>
                                    <li>Otun Agbakin Comm High School</li>
                                    <li>Remi Olaitan Model College</li>
                                  </ul>
                                </li>
            </p>
                              </div>
                            </div>
                          </div>
                          <%#   Accordion card %>
      
                          <%#   Accordion card %>
                          <div class="card mb-5">
      
                            <%#   Card header %>
                            <div class="card-header white p-0 z-depth-1" role="tab" id="heading34">
                              <a data-toggle="collapse" href="#collapse34" aria-expanded="true" aria-controls="collapse34">
                                <h5 class="pl-2  green-text mb-0 py-3 mt-1">
                                  Distant Schools Jurisdiction (14 Schools)
                                </h5>
                              </a>
                            </div>
      
                            <%#   Card body %>
                            <div id="collapse34" class="collapse" role="tabpanel" aria-labelledby="heading34" data-parent="#accordionEx5">
                              <div class="card-body rgba-black-strong white-text z-depth-1">
                                <p class="p-md-4 mb-0"> <li class="white-text article list-unstyled">
                                  <ul>
                                    <li>Community High School, Alabata </li>
                                    <li>School of science, Pade</li>
                                    <li>  Community High School, Sawmill</li>
                                  </ul>
                                </li>
            </p>
                              </div>
                            </div>
                          </div>
                          <%#   Accordion card %>
                        </div>
                        <%#  /.Accordion wrapper%>
      
                      </div>
                      <%#   CORD LIST %>
                    Each school except the distant schools has two coordinators – a male and
                    a female both being students of UI.</p>
                </div>
              </div>
            </div>
            <%#   Accordion card %>

            <%#   Accordion card %>
            <div class="card border-0">

              <%#   Card header %>
              <div class="card-header White z-depth-1 border-0 mb-1" role="tab" id="heading2">
                <a class="collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <h5 class="mb-0 dark-grey-text">
                    EXTRAMURAL CLASSES
                    <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>

              <%#   Card body %>
              <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2" data-parent="#accordionEx">
                <div class="card-body mb-1 rgba-green-strong white-text">
                  <p>In order to ensure the academic excellence of the students we coordinate,
                    extramural classes for UTME and SSCE exams are conducted by the
                    Directorate Of Studies of the Area Council. Situated at Ansar-ud-deen
                    Central Mosque at Agbowo, the classes are taken by Undergraduate and
                    Postgraduate students of the University of Ibadan. Alhamdulillah, on the
                    average, not less than 200 students benefit from the classes.
                    The objective is to ensure that Muslim students excel in their academic
                    pursuit and having noticed the very low percentage of Muslim students in
                    Nigerian tertiary institutions especially UI, the council has taken it as a
                    point of duty to train the younger generation of Muslims who will succeed
                    those in higher institutions. Alhamdulillah, since its inception by Prof. L. A.
                    Hussein of the Department of Physics, UI, the council’s extramural has
                    produced numerous students who have graduated or are still students.
                    For over thirty-years since its inception, the tutorial has been faced with
                    the challenge of a permanent site. To fight this, a permanent site account
                    has been created in order to secure an acre of land around UI-AJIBODEOJOO axis. We will be so much gladdened if Allah can use you to actualize
                    our dream.</p>
                </div>
              </div>
            </div>
            <%#   Accordion card %>

            <%#   Accordion card %>
            <div class="card border-0">
              <%#   Card header %>
              <div class="card-header white z-depth-1 border-0 mb-1" role="tab" id="heading3">
                <a class="collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  <h5 class="mb-0 dark-grey-text">
                   CAREER COUNSELLING SEMINAR
                    <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>

            
              <%#   Card body %>
              <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordionEx">
                <div class="card-body mb-1 rgba-green-strong white-text">
                  <p>As part of the council’s efforts to ensure that Muslim students do not only gain
                    admission into institutions of higher learning, but to also study courses which
                    correspond to their potentials, their personalities as Muslims and their intellectual
                    capabilities. Also, the programme educate is to educate them on the prospects of other
                    courses especially the less sought-after ones. To do this, resource persons – lecturers
                    and personnel from admissions office - are brought in to give series of lectures on how
                    to make the right choice when choosing a career.
                    The seminar also features lectures on the demands and requirements of courses as
                    well as their respective subject combinations.
                  </p>
                </div>
              </div>
            </div>
            <%#   Accordion card %>
         
            <%#   Accordion card %>
            <div class="card border-0">

              <%#   Card header %>
              <div class="card-header white z-depth-1 border-0 mb-1" role="tab" id="heading4">
                <a class="collapsed" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  <h5 class="mb-0 dark-grey-text">
                   SISTERS' SEMINAR
                    <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>

              <%#   Card body %>
              <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordionEx">
                <div class="card-body mb-1 rgba-green-strong white-text">
                  <p>An all-female event of about 1500 participants where sisters of all higher institutions
                    as well as those in the secondary school branches under the council meet to discuss
                    matters pertaining to them. The event serves as a motivation for female secondary
                    school students as they are able to fraternize with their colleagues in higher
                    institutions. The programme is so designed to assure younger generation of sisters
                    that their Islamic identity is not an impediment to academic career as resource
                    persons are female lecturers and other personalities who have attained high status in
                    their respective fields of life. The programme in short, is to rekindle the retrogressive
                    state of our sisters who are being neglected in their spiritual progress.
                  </p>
                </div>
              </div>
            </div>
            <%#   Accordion card %>
         
            <%#   Accordion card %>
            <div class="card border-0">

              <%#   Card header %>
              <div class="card-header white z-depth-1 border-0 mb-1" role="tab" id="heading5">
                <a class="collapsed" data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  <h5 class="mb-0 dark-grey-text">
                    SUPPORT FOR INDIGENT STUDENTS
                    <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>

              <%#   Card body %>
              <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordionEx">
                <div class="card-body mb-1 rgba-green-strong white-text">
                  <p>Having realized the inequality in the fingers of the parents of our students
                    especially those in government-owned schools and their state of destitute, the
                    council annually has deemed it fit to provide scholarships catering the WASSCE
                    and UTME fees for these indigent students. Exams will be conducted across
                    board to fish out the intelligent but indigent ones among them. Weekly
                    tutorials will also be an added advantage for these students.                    
                  </p>
                </div>
              </div>
            </div>
            <%#   Accordion card %>
         
            <%#   Accordion card %>
            <div class="card border-0">

              <%#   Card header %>
              <div class="card-header white z-depth-1 border-0 mb-1" role="tab" id="heading6">
                <a class="collapsed" data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  <h5 class="mb-0 dark-grey-text">
                    CONFERENCE OF SECONDARY SCHOOL MUSLIM STUDENTS
                    <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>

              <%#   Card body %>
              <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6" data-parent="#accordionEx">
                <div class="card-body mb-1 rgba-green-strong white-text">
                  <p>This is a 5-day camping programme usually organized during the mid-term of every
                    academic session by the council to train about 500 students on skill acquisition,
                    better understanding of the religion, and inculcating in them good behaviours and
                    etiquettes.
                    The programme is also geared towards unifying students from distant and
                    convoluted schools aside consolidating their Islamic and moral upbringing. We hope
                    to attain a total fee-free COSSMUS subsequently to encourage full participation In
                    Shaa Allah; we anticipate your auspicious support.
                  </p>
                </div>
              </div>
            </div>
            <%#   Accordion card %>
          </div>
          <%#  /.Accordion wrapper%>

        </div>
        <%#   Grid column %>

      </div>
      <%#   Grid row %>

    </section>

  </div>
  <%- contentFor('title') %> 
  Our programmes